.footer {
    border-top: 1px solid lightgray;
    padding: 2opx;
    background-color: rgb(218, 218, 218);
    text-align: center;
   
}

.footer >p {
    padding: 5px;
    font-size: 14px;
}